html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    background-color: #aaa;
    background-image: url(../images/money-two.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.form {
    color: #ddd;
    background-color: #111;
    max-width: 500px;
    margin: 20px auto;
    opacity: 95%;
    border: 30px solid hsl(183deg 42% 21%);
    border-radius: 40px;
}

.form__header {
    text-align: center;
    color: #ddd;
}

.result {
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: #eee;
    background-color: #111;
    text-decoration: underline;
    background-color: hsl(0, 100%, 10%);
    padding: 10px;
    border: 2px solid crimson;
}

.amound {
    font-size: 26px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.currency {
    font-size: 26px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.infoBelow {
    font-style: italic;
    text-align: center;
}

.button {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 15px;
}

.button__reset {
    font-size: 22px;
    padding: 10px;
}

.button__submit {
    font-size: 22px;
    padding: 10px;
}

.button__reset:hover {
    background-color: hsl(0, 0%, 75%);
}

.button__submit:hover {
    background-color: hsl(0, 0%, 75%);
}